:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
}

label {
  padding: 0.5rem;
}

button {
  background-color: rgb(192, 124, 0);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 7px 14px;
  margin: 10px 0 10px;
  text-align: center;
  font-size: 12px;
}

button:hover {
  background-color: orange;
}

.card {
  width: 200px;
  height: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 10px;
  padding: 15px;
  margin: 1rem auto;
  background-color: white;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
}